.container {

    position: fixed;
    padding: 32px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* border-bottom: 2px solid var(--button-color); */
}


.line{
    position: absolute;
    bottom: 0px;
    width: 157px;
    background-color: var(--color-primary);
    opacity: 0.5;
    border-radius: 10px;
    margin: 10px;
    padding: 2px;
    cursor: pointer;
}

.navigationCard {
    position: relative;
    width: 157px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    /* opacity: 0.8; */
    cursor: pointer;
    z-index: 11;
}

.navigationCard:hover {
    border-radius: 12px;
    background-color: var(--text-color);
    color: var(--button-color);
    transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .navigationCard {
        transform: scale(0.8);
    }
    
}