.lampContainer {
  position: fixed;
  width: 100%;
  transform-origin: top center;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  /* z-index: 10; */
  top: -70px;
  /* display: none; */
  pointer-events: painted;
  z-index: 10;
}

.lamp {
  z-index: 10;
}


.lampShade {
  position: relative;
  top: -100px;
  --lamp-width: 2800px;
  width: var(--lamp-width);
  height: 0px;
  border-left: calc(var(--lamp-width) / 2) solid transparent;
  border-right: calc(var(--lamp-width) / 2) solid transparent;
  border-bottom: 150vh solid rgba(246, 241, 213, 0.142);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

@media screen and (max-width: 768px) {
  .lamp {
    transform: scale(0.6);
  }
  .lampShade {
    --lamp-width: 1400px;
    top: -150px;
    border-bottom: 150vh solid rgba(246, 241, 213, 0.10);
  }
  
}